# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# VS Code
.vscode/

# MacOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# PyCharm
.idea/

# RTDL datasets (too large for git - 4GB)
*.tar.gz

rtdl_revisiting_models/output/adult/**/tuned/**
!rtdl_revisiting_models/output/adult/**/tuned/
!rtdl_revisiting_models/output/adult/**/tuned/**/
!rtdl_revisiting_models/output/adult/**/tuned/**/DONE
!rtdl_revisiting_models/output/adult/**/tuned/**/stats.json

rtdl_revisiting_models/output/adult/**/tuning/**
!rtdl_revisiting_models/output/adult/**/tuning/
!rtdl_revisiting_models/output/adult/**/tuning/**/
!rtdl_revisiting_models/output/adult/**/tuning/**/DONE
!rtdl_revisiting_models/output/adult/**/tuning/**/stats.json

rtdl_revisiting_models/output/california_housing/**/tuned/**
!rtdl_revisiting_models/output/california_housing/**/tuned/
!rtdl_revisiting_models/output/california_housing/**/tuned/**/
!rtdl_revisiting_models/output/california_housing/**/tuned/**/DONE
!rtdl_revisiting_models/output/california_housing/**/tuned/**/stats.json

rtdl_revisiting_models/output/california_housing/**/tuning/**
!rtdl_revisiting_models/output/california_housing/**/tuning/
!rtdl_revisiting_models/output/california_housing/**/tuning/**/
!rtdl_revisiting_models/output/california_housing/**/tuning/**/DONE
!rtdl_revisiting_models/output/california_housing/**/tuning/**/stats.json

rtdl_revisiting_models/output/helena/**/tuned/**
!rtdl_revisiting_models/output/helena/**/tuned/
!rtdl_revisiting_models/output/helena/**/tuned/**/
!rtdl_revisiting_models/output/helena/**/tuned/**/DONE
!rtdl_revisiting_models/output/helena/**/tuned/**/stats.json

rtdl_revisiting_models/output/helena/**/tuning/**
!rtdl_revisiting_models/output/helena/**/tuning/
!rtdl_revisiting_models/output/helena/**/tuning/**/
!rtdl_revisiting_models/output/helena/**/tuning/**/DONE
!rtdl_revisiting_models/output/helena/**/tuning/**/stats.json

rtdl_revisiting_models/output/higgs_small/**/tuned/**
!rtdl_revisiting_models/output/higgs_small/**/tuned/
!rtdl_revisiting_models/output/higgs_small/**/tuned/**/
!rtdl_revisiting_models/output/higgs_small/**/tuned/**/DONE
!rtdl_revisiting_models/output/higgs_small/**/tuned/**/stats.json

rtdl_revisiting_models/output/higgs_small/**/tuning/**
!rtdl_revisiting_models/output/higgs_small/**/tuning/
!rtdl_revisiting_models/output/higgs_small/**/tuning/**/
!rtdl_revisiting_models/output/higgs_small/**/tuning/**/DONE
!rtdl_revisiting_models/output/higgs_small/**/tuning/**/stats.json

rtdl_revisiting_models/output/jannis/**/tuned/**
!rtdl_revisiting_models/output/jannis/**/tuned/
!rtdl_revisiting_models/output/jannis/**/tuned/**/
!rtdl_revisiting_models/output/jannis/**/tuned/**/DONE
!rtdl_revisiting_models/output/jannis/**/tuned/**/stats.json

rtdl_revisiting_models/output/jannis/**/tuning/**
!rtdl_revisiting_models/output/jannis/**/tuning/
!rtdl_revisiting_models/output/jannis/**/tuning/**/
!rtdl_revisiting_models/output/jannis/**/tuning/**/DONE
!rtdl_revisiting_models/output/jannis/**/tuning/**/stats.json